<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleMenuGeneral.css}">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Enlace al archivo CSS de Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Menu</title>
</head>
<body>
    <header>
		<!-- <a href="#" class="logo">La Cabaña Marina<span>.</span></a>-->
		<a class="navbar-brand"  th:href="@{/}"><img class="width-logo" src="/ico/furiablanco.png"></a>
		<div class="menuAlternar" onclick="alternarMenu();"></div>
		<ul class="navigation">
			<li><a th:href="@{/}" onclick="alternarMenu();">Inicio</a></li>
			<li><a th:href="@{/promociones}" onclick="alternarMenu();">Promociones</a></li>
			<li><a th:href="@{/menu}" onclick="alternarMenu();">Menu</a></li>
			<li><a th:href="@{/nosotros}" onclick="alternarMenu();">Nosotros</a></li>
			<!--<li><a href="#chef" onclick="alternarMenu();">Chef's</a></li>
			<li><a href="#testimonios" onclick="alternarMenu();">Testimonios</a></li>-->
			<li><a th:href="@{/Contactanos}" onclick="alternarMenu();">Contactanos</a></li>
			<li><a th:href="@{/login}" onclick="alternarMenu();">Inicia Sesión</a></li>
			<li><a th:href="@{/login}" onclick="alternarMenu();">Reserva</a></li>
		</ul>
	</header>
	
		<section class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="hamburguesa">
                <img th:src="@{/images/Ha1.jpg}">
                <h2>Hamburguesas</h2>
                <a href="/hamburguesas" class="boton">Ver más</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hamburguesa">
                <img th:src="@{/images/he1.jpg}">
                <h2>Helados</h2>
                <a href="helados" class="boton">Ver más</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hamburguesa">
                <img th:src="@{/images/coca.jpeg}">
                <h2>Bebidas</h2>
                <a href="/bebidas" class="boton">Ver más</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hamburguesa">
                <img th:src="@{/images/ha6.jpg}">
                <h2>Complementos</h2>
                <a href="/complementos" class="boton">Ver más</a>
            </div>
        </div>
    </div>
    
			
		</section>
	<footer>
        <div class="footer-logo">
			<a href="#banner">
            <img src="/ico/furiablanco.png" alt="Logo">
            </a>
        </div>
        <div class="footer-links">
			<a th:href="@{/}" onclick="alternarMenu();">Home</a>
			<a th:href="@{/promociones}" onclick="alternarMenu();">Promociones</a>
			<a th:href="@{/tips}" onclick="alternarMenu();">Tips</a>
			<a th:href="@{/nosotros}" onclick="alternarMenu();">Nosotros</a>
			<a th:href="@{/Contactanos}" onclick="alternarMenu();">Contacto</a>
		</div>
        <!--<div class="social-icons">
            <a href="#"><img src="https://image.flaticon.com/icons/png/512/145/145802.png" alt="Facebook"></a>
            <a href="#"><img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_twitter_icon_130635.png" alt="Twitter"></a>
            <a href="#"><img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_instagram_icon_130614.png" alt="Instagram"></a>
        </div>-->
        <div class="footer-copyright">
            <p>&copy; 2023 Todos los derechos reservados</p>
        </div>
	</footer>
</body>
</html>