<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" th:href="@{/css/menu.css}">
	<link rel="stylesheet" th:href="@{/css/inicio.css}">
	<link rel="shortcut icon" href="/ico/furiablanco.ico" />
	<link rel="stylesheet" th:href="@{/css/promocionesStyle.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Enlace al archivo CSS de Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>
	<header>
		<!-- <a href="#" class="logo">La Cabaña Marina<span>.</span></a>-->
		<a class="navbar-brand" th:href="@{/}"><img class="width-logo" src="/ico/furiablanco.png"></a>
		<div class="menuAlternar" onclick="alternarMenu();"></div>
		<ul class="navigation">
			<li><a th:href="@{/}" onclick="alternarMenu();">Inicio</a></li>
			<li><a th:href="@{/promociones}" onclick="alternarMenu();">Promociones</a></li>
			<li><a th:href="@{/menu}" onclick="alternarMenu();">Menu</a></li>
			<li><a th:href="@{/nosotros}" onclick="alternarMenu();">Nosotros</a></li>
			<!--<li><a href="#chef" onclick="alternarMenu();">Chef's</a></li>
			<li><a href="#testimonios" onclick="alternarMenu();">Testimonios</a></li>-->
			<li><a th:href="@{/Contactanos}" onclick="alternarMenu();">Contactanos</a></li>
			<li><a th:href="@{/login}" onclick="alternarMenu();">Inicia Sesión</a></li>
			<li><a th:href="@{/Reserva}" onclick="alternarMenu();">Reserva</a></li>
		</ul>
	</header>
	
	<div id="carrito" class="carrito-pequeno">
	    <button id="cerrar-carrito" onclick="cerrarCarrito()">X</button>
	    <h4>Carrito de compras</h4> <hr>
	    <ul id="lista-carrito"></ul>
	    <p>Total: <span id="total-carrito">0</span></p>
	</div>
	
	<section class="promociones" id="promociones">
		<div class="catalogo">
			<div class="columna" th:each="producto : ${promociones}">
				<div class="hamburguesa">
					<img th:src="'/importar/' + ${producto.imagen}">
                <h2 th:text="${producto.nomMen}"></h2>
                   <span style="font-weight: bold;">S/.</span><p class=" precio-verdadero" th:text="${producto.pre}"></p> <br/>
<button class="btn-warning" th:attr="data-productid=${producto.id}, data-productname=${producto.nomMen}, data-productprice=${producto.pre}, data-productimage='/importar/' + ${producto.imagen}" onclick="agregarAlCarrito(this);">Agregar al carrito</button>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer-logo">
			<a href="#banner">
				<img src="/ico/furiablanco.png" alt="Logo">
			</a>
		</div>
		<div class="footer-links">
			<a th:href="@{/}" onclick="alternarMenu();">Home</a>
			<a th:href="@{/promociones}" onclick="alternarMenu();">Promociones</a>
			<a th:href="@{/tips}" onclick="alternarMenu();">Tips</a>
			<a th:href="@{/nosotros}" onclick="alternarMenu();">Nosotros</a>
			<a th:href="@{/Contactanos}" onclick="alternarMenu();">Contacto</a>
		</div>
		<!--<div class="social-icons">
            <a href="#"><img src="https://image.flaticon.com/icons/png/512/145/145802.png" alt="Facebook"></a>
            <a href="#"><img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_twitter_icon_130635.png" alt="Twitter"></a>
            <a href="#"><img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_instagram_icon_130614.png" alt="Instagram"></a>
        </div>-->
		<div class="footer-copyright">
			<p>&copy; 2023 Todos los derechos reservados</p>
		</div>
	</footer>



	<script type="text/javascript">
		window.addEventListener('scroll', function () {
			const header = document.querySelector('header');
			header.classList.toggle("sticky", window.scrollY > 0);
		});

		function alternarMenu() {
			const menuAlternar = document.querySelector('.menuAlternar');
			const navigation = document.querySelector('.navigation');
			menuAlternar.classList.toggle('activo');
			navigation.classList.toggle('activo');
		}

	</script>
	
	<script type="text/javascript">
    // Arreglo que almacena los productos en el carrito
const carrito = [];

// Función para agregar un producto al carrito
function agregarAlCarrito(button) {
    const id = button.getAttribute("data-productid");
    const nombre = button.getAttribute("data-productname");
    const precio = button.getAttribute("data-productprice");
    const imagen = button.getAttribute("data-productimage");

    const cantidad = 1;

    const producto = {
        id: id,
        nombre: nombre,
        precio: parseFloat(precio),
        cantidad: cantidad,
        imagen: imagen,
    };

    carrito.push(producto);
    actualizarCarrito();

    // Mostrar el carrito
    document.getElementById("carrito").style.display = "block";
}

// Función para eliminar un producto del carrito
function eliminarDelCarrito(id) {
    const productoIndex = carrito.findIndex((producto) => producto.id === id);

    if (productoIndex !== -1) {
        carrito.splice(productoIndex, 1);
        actualizarCarrito();
    }
}

// Función para cerrar el carrito y reiniciar
function cerrarCarrito() {
    // Ocultar el carrito
    document.getElementById("carrito").style.display = "none";

    // Reiniciar el carrito eliminando todos los elementos
    carrito.length = 0;

    // Actualizar la vista del carrito
    actualizarCarrito();
}

// Función para actualizar la vista del carrito
function actualizarCarrito() {
    const listaCarrito = document.getElementById("lista-carrito");
    const totalCarrito = document.getElementById("total-carrito");
    let total = 0;

    listaCarrito.innerHTML = "";
	listaCarrito.style.paddingLeft="0";
    carrito.forEach((producto) => {
        total += producto.precio * producto.cantidad;

        const li = document.createElement("li");
        li.classList.add("carrito-item"); // Agregar una clase para dar formato

        const imagenProducto = document.createElement("img");
        imagenProducto.src = producto.imagen;
        imagenProducto.alt = producto.nombre;
        imagenProducto.style.maxWidth = "50px";
        imagenProducto.style.maxHeight = "40px";

        const productoInfo = document.createElement("span");
        productoInfo.classList.add("carrito-info"); // Agregar una clase para dar formato
productoInfo.textContent = `${producto.nombre} x ${producto.cantidad} - S/. ${producto.precio * producto.cantidad}`;

        const botonEliminar = document.createElement("button");
        botonEliminar.classList.add("btn-borrar");
        botonEliminar.textContent = "X";
        botonEliminar.onclick = function () {
            eliminarDelCarrito(producto.id);
        };

        li.appendChild(imagenProducto);
        li.appendChild(productoInfo);
        li.appendChild(botonEliminar);

        listaCarrito.appendChild(li);
    });

    totalCarrito.textContent = "S/. " + total ;

    if (carrito.length === 0) {
        document.getElementById("carrito").style.display = "none";
    }
}
</script>

	
</body>


</html>